.auth__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 50px;
  text-align: center;
}
