.popup__close-icon_image {
    top: -40px;
    right: -40px;
}

@media (max-width: 640px) {
    .popup__close-icon_image {
        top: -35px;
        right: -35px;
    }
}

@media (max-width: 370px) {
    .popup__close-icon_image {
        top: -25px;
        right: -25px;
    }
}